{% load static %}
<html>
    <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <link rel="stylesheet" href="{% static "custom.css" %}">

         <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

         <link rel="icon" type="image/png" href="{% static "Logo.png" %}">
         <title>S1im_Sh4dy</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <nav id="topNav" class="navbar navbar-expand-lg bg-light">
          <div class="container">
            <a class="navbar-brand" href="{% url "home" %}">
                <img src="{% static "Logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="S1im_Sh4dy's Logo">
                <span>S1im_Sh4dy</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ "https://vk.com/sl1m.sh4dy" }}" target="_blank">Social
                      Networks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'password_generator:home' %}">Password Generator</a>
                </li>
{#                <li class="nav-item dropdown">#}
{#                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                    Dropdown#}
{#                  </a>#}
{#                  <ul class="dropdown-menu">#}
{#                    <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                    <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                    <li><hr class="dropdown-divider"></li>#}
{#                    <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                  </ul>#}
{#                </li>#}
                <li class="nav-item">
                    <a role="button" href="{% url "blog:all_blogs" %}" class="btn btn-primary">Page of blog</a>
                </li>
              </ul>
{#              <form class="d-flex" role="search">#}
{#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
{#              </form>#}
            </div>
          </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->\
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </body>
</html>

